In [23]:
# Install a pip package in the current Jupyter kernel
import sys
#!{sys.executable} -m pip install pandas
#!{sys.executable} -m pip install matplotlib
#!{sys.executable} -m pip install numpy
#!{sys.executable} -m pip install datetime

WARNING: You are using pip version 20.0.2; however, version 20.1 is available.
You should consider upgrading via the 'c:\users\mleonelli\appdata\local\programs\python\python38-32\python.exe -m pip install --upgrade pip' command.

Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
Requirement already satisfied: pytz in c:\users\mleonelli\appdata\local\programs\python\python38-32\lib\site-packages (from datetime) (2019.3)
Collecting zope.interface
  Downloading zope.interface-5.1.0-cp38-cp38-win32.whl (192 kB)
Requirement already satisfied: setuptools in c:\users\mleonelli\appdata\local\programs\python\python38-32\lib\site-packages (from zope.interface->datetime) (41.2.0)
Installing collected packages: zope.interface, datetime
Successfully installed datetime-4.3 zope.interface-5.1.0

In [24]:
# Import the pandas package
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import datetime as dt

In [ ]:
fn = 'datasets/ride_sharing_new.csv'

# Initialize reader object: df_reader
ride_sharing = pd.read_csv(fn)

In [ ]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

In [ ]:
# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

In [ ]:
# Strip duration of minutes
# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration'].str.strip('minutes').astype(int)

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_time']])
print(ride_sharing['duration_time'].mean())

In [18]:
np.random.seed(42)
sz = len(ride_sharing['duration_time'])
ride_sharing['tire_sizes']  = np.random.choice(
    a=[26, 27, 29],  
    size=sz,  
    p=[0.5, 0.3, 0.2]  
 )

In [19]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

count     25760
unique        2
top          27
freq      12936
Name: tire_sizes, dtype: int64

In [27]:
ride_sharing.info()
ride_sharing.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
 10  user_type_cat    25760 non-null  category
 11  duration_time    25760 non-null  int32
 12  tire_sizes       25760 non-null  category
 13  ride_date        25760 non-null  object
 14  ride_dt          25760 non-null  datetime64[ns]
dtypes: category(2), datetime64[ns](1), int32(1), int64(6), object(5)
memory usage: 2.0+ MB

,Unnamed: 0,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,user_type_cat,duration_time,tire_sizes,ride_date,ride_dt
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,2,12,26,2020-01-01,2020-01-01
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,2,24,27,2020-01-01,2020-01-01
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,3,8,27,2020-01-01,2020-01-01
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,1,4,27,2020-01-01,2020-01-01
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,2,11,26,2020-01-01,2020-01-01

In [26]:
# Save today's date
today = dt.date.today()

ride_sharing['ride_date']  = np.random.choice(
    a=['2020-01-01', '2021-01-01'],  
    size=sz,  
    p=[0.9, 0.1]  
 )

# Convert ride_date to datetime
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date'])

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > pd.to_datetime('today'), 'ride_dt'] = pd.to_datetime('today')

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

2020-05-11 11:02:42.000210

In [ ]:
# Find duplicates
#duplicates = ride_sharing.duplicated(['ride_id'], keep = False)

# Sort your duplicated rides
#duplicated_rides = ride_sharing[duplicates].sort_values(by = 'ride_id')

# Print relevant columns of duplicated_rides
#print(duplicated_rides[['ride_id','duration','user_birth_year']])

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0